@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Symbols:wght@100..900&display=swap');

* {
    font-family: 'Kanit', cursive;
}

body {
    background-color: orange;
}

.card {
    border: 2px black solid;
    background-color: white;
    width: 300px;
    height: 400px;
    text-align: center;
    display: inline-block;
    height: fit-content;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px 0px;
}

img {
    width: 280px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.removeBtn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
}

input[type="number"] {
    width: 50px;
}

#newPlayerForm {
    background-color: white;
    width: 300px;
    height: 200px;
    display: none;
    height: fit-content;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

form {
    padding: 10px;
}